[submodule "openFrameworks/addons/ofxRemoteUI"]
	path = openFrameworks/addons/ofxRemoteUI
	url = https://github.com/local-projects/ofxRemoteUI.git
[submodule "openFrameworks/addons/ofxScreenSetup"]
	path = openFrameworks/addons/ofxScreenSetup
	url = https://github.com/local-projects/ofxScreenSetup.git
[submodule "openFrameworks/addons/ofxSuperLog"]
	path = openFrameworks/addons/ofxSuperLog
	url = https://github.com/local-projects/ofxSuperLog.git
[submodule "openFrameworks/addons/ofxTimeMeasurements"]
	path = openFrameworks/addons/ofxTimeMeasurements
	url = https://github.com/local-projects/ofxTimeMeasurements.git
[submodule "openFrameworks/addons/ofxAnimatable"]
	path = openFrameworks/addons/ofxAnimatable
	url = https://github.com/armadillu/ofxAnimatable.git
[submodule "openFrameworks/addons/ofxTextureAtlas"]
	path = openFrameworks/addons/ofxTextureAtlas
	url = https://github.com/armadillu/ofxTextureAtlas
[submodule "openFrameworks/addons/ofxTuio"]
	path = openFrameworks/addons/ofxTuio
	url = https://github.com/armadillu/ofxTuio.git
[submodule "openFrameworks/addons/ofxFontStash"]
	path = openFrameworks/addons/ofxFontStash
	url = https://github.com/armadillu/ofxFontStash.git
[submodule "openFrameworks/addons/ofxHistoryPlot"]
	path = openFrameworks/addons/ofxHistoryPlot
	url = https://github.com/armadillu/ofxHistoryPlot.git
[submodule "openFrameworks/addons/ofxNotificationCenter"]
	path = openFrameworks/addons/ofxNotificationCenter
	url = https://github.com/nicoleyimessier/ofxNotificationCenter.git
