[submodule "ExternalAddons/ofxRemoteUI"]
	path = ExternalAddons/ofxRemoteUI
	url = https://github.com/local-projects/ofxRemoteUI.git
[submodule "ExternalAddons/ofxScreenSetup"]
	path = ExternalAddons/ofxScreenSetup
	url = https://github.com/local-projects/ofxScreenSetup.git
[submodule "ExternalAddons/ofxSuperLog"]
	path = ExternalAddons/ofxSuperLog
	url = https://github.com/local-projects/ofxSuperLog.git
[submodule "ExternalAddons/ofxTimeMeasurements"]
	path = ExternalAddons/ofxTimeMeasurements
	url = https://github.com/local-projects/ofxTimeMeasurements.git
[submodule "ExternalAddons/ofxAnimatable"]
	path = ExternalAddons/ofxAnimatable
	url = https://github.com/armadillu/ofxAnimatable.git
[submodule "ExternalAddons/ofxTextureAtlas"]
	path = ExternalAddons/ofxTextureAtlas
	url = https://github.com/armadillu/ofxTextureAtlas
[submodule "ExternalAddons/ofxTuio"]
	path = ExternalAddons/ofxTuio
	url = https://github.com/patriciogonzalezvivo/ofxTuio.git
[submodule "ExternalAddons/ofxFontStash"]
	path = ExternalAddons/ofxFontStash
	url = https://github.com/armadillu/ofxFontStash.git
[submodule "ExternalAddons/ofxHistoryPlot"]
	path = ExternalAddons/ofxHistoryPlot
	url = https://github.com/armadillu/ofxHistoryPlot.git
